<div style="padding: 2rem; display: flex; flex-direction: column; gap: 2rem">
  <div>
    <h2>map</h2>
    <button (click)="mapOperator()">RUN MAP</button>
  </div>
  <div>
    <h2>tap</h2>
    <button (click)="tapOperator()">RUN TAP</button>
  </div>
  <div>
    <h2>switchMap</h2>
    <button (click)="switchMapOperator()">RUN SWITCHMAP</button>
  </div>
  <div>
    <h2>combineLatest</h2>
    <button (click)="combineLatestOperator()">RUN COMBINELATEST</button>
  </div>
  <div>
    <h2>DEBOUNCETIME and DISTINCUNTILCHANGED</h2>
    <form [formGroup]="myForm">
      <div>
        <label for="querySearchTerm">Search :</label>
        <input
          formControlName="querySearchTerm"
          id="querySearchTerm"
          type="text"
        />
      </div>
    </form>
  </div>
</div>
