<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input
      (keyup.enter)="addTodo()"
      [(ngModel)]="newTodo"
      autofocus
      class="new-todo"
      placeholder="What needs to be done?"
    />
  </header>

  <section class="main">
    <ul class="todo-list">
      <li
        *ngFor="let todo of todos; let i = index"
        [ngClass]="{ completed: todo.isDone, editing: todo.editing }"
      >
        <div class="view">
          <input
            (click)="toggleTodo(todo)"
            [checked]="todo.isDone"
            class="toggle"
            type="checkbox"
          />
          <label (dblclick)="todo.editing = true">{{ todo.title }}</label>
          <button (click)="destroyTodo(todo, i)" class="destroy"></button>
        </div>
        <input
          #updatedTodo
          (blur)="updateTodo(todo, updatedTodo.value)"
          (keyup.enter)="updateTodo(todo, updatedTodo.value)"
          (keyup.escape)="todo.editing = false"
          [value]="todo.title"
          class="edit"
        />
      </li>
    </ul>
  </section>

  <!-- This footer should hidden by default and shown when there are todos -->
  <footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"
      ><strong>{{ activeTasks }}</strong> item left</span
    >
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
      <li>
        <a (click)="allTodos()">All</a>
      </li>
      <li>
        <a (click)="activeTodos()">Active</a>
      </li>
      <li>
        <a (click)="completedTodos()">Completed</a>
      </li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button (click)="clearCompleted()" class="clear-completed">
      Clear completed
    </button>
  </footer>
</section>
